.menu__link{
    color: #808080;
    text-decoration: none;
    margin-right: 1.25em;
    text-transform: lowercase;}

.menu__link.ativo{
    font-weight: bold;
    color: #333333;} 

.menu__link:hover{
    text-decoration: underline;}