<footer class="rodape" id="comunidade">
    <div class="rodape__conteudo">
        <h6 class="rodape__descricao">Contato</h6>
        <div class="rodape__caixa caixa1"></div>
        <div class="rodape__caixa caixa2"></div>
    </div>
</footer>