<header class="cabecalho">
    <img class="cabecalho__img" src="./assets/img/logo.jpg" alt="logo">
    <nav class="menu">
        <ul class="menu__lista">
            <li class="menu__item"><a class="menu__link ativo" href="#início">início</a></li>
            <li class="menu__item"><a class="menu__link" href="#receitas">receitas</a></li>
            <li class="menu__item"><a class="menu__link" href="#quem-somos">quem somos</a></li>
            <li class="menu__item"><a class="menu__link" href="#comunidade">comunidade</a></li>
        </ul>
    </nav>
</header>