.caixa__como-fazer-beterrabas{
    position: fixed;
    padding: 30px;
    width: 50vw;
    left: calc(45vw/2);
    height: 26vh;
    top: calc(74vh/2);
    background-color: #f1b8ab;
    display: flex;
    line-height: 25px;
    gap: 1rem;
    border-radius: 15px;
}