.caixa__como-fazer-vegetais{
    position: fixed;
    padding: 30px;
    width: 60%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1b8ab;
    display: flex;
    line-height: 25px;
    gap: 3rem;
    border-radius: 15px;
    justify-content: space-around;
}