@media screen and (min-width: 0px) and (max-width: 768px) {
    .cabecalho {
        background-color: #f9f9f9;
        padding: 20px 0 20px 0;
        justify-content: center;
    }

    .cabecalho__img {
        display: none;
    }

    .menu__lista {
        font-size: .8em;
    }

    .banner__img {
        height: calc(100vh - 55px);
    }

    .banner__titulo {
        font-size: 4.5em;
    }

    .sobre__titulo {
        font-size: 3em;
    }

    .sobre__descricao {
        font-size: 1.7em;
    }

    .receitas {
        padding: 2em 0 .2em 2em;
        display: block;
    }

    .receita {
        width: auto;
        margin-bottom: 2em;
        margin-right: 2em;
    }

    .receita__img {
        height: auto;
    }

    .quem-somos__titulo {
        font-size: 3em;
    }

    .quem-somos__descricao {
        margin-top: 6%;
        font-size: 1.4em;
    }

    .pessoas {
        display: block;
        margin: 3em 0 2em;
    }

    .pessoa {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .pessoa__img {
        height: 240px;
        width: 240px;
    }

    .pessoa__nome {
        font-size: 2.3em;
    }

    .pessoa__descricao {
        font-size: 1.4em;
    }

    .rodape__descricao {
        font-size: 1.5em;
    }

    .rodape__caixa {
        height: 56px;
        width: 72px;
    }

    .caixa2 {
        margin: 0 20px 0 0;
    }

    .ingredientes__titulo,
    .preparo__titulo {
        font-size: 1.5rem;
    }

    .ingredientes__lista, .preparos__lista {
        font-size: .8rem;
    }
    .caixa__ingredientes, .caixa__preparo{
        width: 100%;
    }
    .caixa__como-fazer-abacate {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__como-fazer-kiwi {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__como-fazer-vegetais {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__como-fazer-pimentoes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__como-fazer-oriental {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__como-fazer-beterrabas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 82%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa__fechar img{
        width: 40px;
    }

}