@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.sobre__titulo{
    font-family: 'Pacifico', cursive;
    color: #8d0606;
    font-size: 5em;
    text-align: center;
    margin-bottom: 2.5%;
}